/node_modules
package-lock.json
yarn.lock

/*.*
/*
!/wp-content/
!/.gitignore
!.gitignore

wp-content/*
!wp-content/

wp-content/themes/*
!wp-content/themes/
wp-content/plugins/*
!wp-content/plugins/

!wp-content/themes/bildungslandschaften-theme/
!wp-content/plugins/bildungslandschaften-block/
